      {% extends "layout.html" %}
      {% block content %}
        <h1>bbs</h1>

        <form action="/thread" method="post">
        <label for="thread">新しいスレッドを立てる</label>
        <input type="text" name="thread">
        <!-- <textarea name="article" rows="6" cols="100"></textarea>
        <p></p>
        <label for="name">名前</label>
        <input type="text" name="name"> -->
        <button type="submit">作る</button>
    </form>

    <h2>スレッド一覧</h2>
    {% for thread in threads: %}
        <form action="/thread" method="post">
            <input type="hidden" name="thread" value="{{ thread.threadname }}">
            <button type="submit">{{ thread.threadname }}</button>
        </form>
    {% endfor %}
    
      <br>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
      class="twitter-share-button" data-show-count="false"　data-text="ドット絵ジェネレータ">Share</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
      </script>
      <br>
      <div class="card" style="max-width: 15rem;">
      <div class="card-header">更新情報</div>
      <div class="card-body">
            <p class="card-text">2020/11/15 サイト開設</p>
          </div>
        </div>
    {% endblock %}
