<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Pixel art generator</title>
        <style>body {padding: 10px;
        background-color: #c3d490;}
        <!-- font {font-weight: 900;
              letter-spacing: -10px;
              font-size: 120%;
              } -->
        .spaces {
          line-height: 0.5em;
          font-weight: 900;
          letter-spacing: -10px;
          }
        h1 {
          color: #2f3813;
          font-family: 'Press Start 2P', cursive;
          }</style>
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Pixel art generator</h1>
        <div class="spaces">
          {% for number in numbers %}
            {% for num in number %}
                {% if num == 0 %}
                  <font color="#000000">■</font>
                {% elif num == 1%}
                  <font color="#ededed">■</font>
                {% elif num == 2%}
                  <font color="#ededed">■</font>
                {% else %}
                  <font color="#ededed">■</font>
                {% endif %}
              {% endfor %}
              <br>
          {% endfor %}
      </div>
      <p><a href="/">ランダム生成</a></p>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
      class="twitter-share-button" data-show-count="false"　data-text="ドット絵ジェネレータ">Share</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div class="twitter">
</div>
    </body>
</html>
