      {% extends "layout.html" %}
      {% block content %}
        <h1>choco_py3's contents</h1>
      <br>
      <h2><a href="https://flaskandheroku.herokuapp.com/pixelart">Pixel art generator</a></h2>
      <br>
      <div class="card" style="max-width: 15rem;">
      <div class="card-header">更新情報</div>
      <div class="card-body">
        <p class="card-text">2020/12/31 ページ構成変更</p>
      </div>
        <div class="card-body">
            <p class="card-text">2020/11/15 サイト開設</p>
          </div>
        </div>
    {% endblock %}
