<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Flask - paiza</title>
        <style>body {padding: 10px;}
        <!-- font {font-weight: 900;
              letter-spacing: -10px;
              font-size: 120%;
              font-stretch:expanded;} -->
        .spaces {
          line-height: 0.5em;
          font-weight: 900;
          letter-spacing: -10px;
          }</style>
    </head>
    <body>
        <h1>Pixel art generator</h1>
        <div class="spaces">
          {% for number in numbers %}
            {% for num in number %}
                {% if num == 0 %}
                  <font color="#d0eb7f">■</font>
                {% elif num == 1%}
                  <font color="#2f3813">■</font>
                {% elif num == 2%}
                  <font color="#6f8234">■</font>
                {% else %}
                  <font color="#97b04c">■</font>
                {% endif %}
              {% endfor %}
              <br>
          {% endfor %}
      </div>
      <p><a href="/">ランダム生成</a></p>
    </body>
</html>
