<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Pixel art generator</title>
        <style>body {padding: 10px;
        background-color: #c3d490;
        text-align:center;}
        <!-- font {font-weight: 900;
              letter-spacing: -10px;
              font-size: 120%;
              } -->
        .spaces {
          line-height: 0.5em;
          font-weight: 900;
          letter-spacing: -10px;
          }
        h1 {
          color: #2f3813;
          font-family: 'Press Start 2P', cursive;
          }</style>
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
{% block content %}
<!-- ここにメインコンテンツを書く -->
{% endblock %}
</body>
</html>
