{% extends "layout.html" %}
{% block content %}
  <h1>Pixel art generator</h1>
  <div class="spaces">
    {% for number in numbers %}
      {% for num in number %}
          {% if num == 0 %}
            <font color="#000000">■</font>
          {% elif num == 1%}
            <font color="#ededed">■</font>
          {% elif num == 2%}
            <font color="#ededed">■</font>
          {% else %}
            <font color="#ededed">■</font>
          {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
</div>
<p>
  <a class="btn btn-primary" href="/" role="button">ランダム生成</a>
</p>
<br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
class="twitter-share-button" data-show-count="false"　data-text="ドット絵ジェネレータ">Share</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>
<h4><a href="https://flaskandheroku.herokuapp.com/">▶Back</a></h4>
{% endblock %}
